p {
    text-align: center;
    border-bottom: dotted 3px rgb(49, 49, 189);
    font-size: 48px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 150px;
}

iframe {
    margin-left: 355px;
}